In [2]:
!pip install pyvista

Collecting pyvista
  Downloading pyvista-0.37.0-py3-none-any.whl (1.5 MB)
     |████████████████████████████████| 1.5 MB 4.7 MB/s eta 0:00:01
Requirement already satisfied: pillow in /Users/nathanschoedl/opt/miniconda3/lib/python3.9/site-packages (from pyvista) (9.2.0)
Collecting pooch
  Downloading pooch-1.6.0-py3-none-any.whl (56 kB)
     |████████████████████████████████| 56 kB 32.9 MB/s eta 0:00:011
Collecting vtk
  Downloading vtk-9.2.5-cp39-cp39-macosx_11_0_arm64.whl (58.9 MB)
     |████████████████████████████████| 58.9 MB 1.6 MB/s eta 0:00:011██▊                          | 10.6 MB 214 kB/s eta 0:03:46     |████████▋                       | 15.9 MB 1.3 MB/s eta 0:00:34
Collecting scooby>=0.5.1
  Downloading scooby-0.7.0-py3-none-any.whl (16 kB)
Requirement already satisfied: imageio in /Users/nathanschoedl/opt/miniconda3/lib/python3.9/site-packages (from pyvista) (2.21.2)
Requirement already satisfied: numpy in /Users/nathanschoedl/opt/miniconda3/lib/python3.9/site-packages (from pyvista) (1.23.3)
Requirement already satisfied: packaging>=20.0 in /Users/nathanschoedl/opt/miniconda3/lib/python3.9/site-packages (from pooch->pyvista) (21.3)
Collecting appdirs>=1.3.0
  Downloading appdirs-1.4.4-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: requests>=2.19.0 in /Users/nathanschoedl/opt/miniconda3/lib/python3.9/site-packages (from pooch->pyvista) (2.27.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /Users/nathanschoedl/opt/miniconda3/lib/python3.9/site-packages (from packaging>=20.0->pooch->pyvista) (3.0.9)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/nathanschoedl/opt/miniconda3/lib/python3.9/site-packages (from requests>=2.19.0->pooch->pyvista) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/nathanschoedl/opt/miniconda3/lib/python3.9/site-packages (from requests>=2.19.0->pooch->pyvista) (2022.5.18.1)
Requirement already satisfied: idna<4,>=2.5 in /Users/nathanschoedl/opt/miniconda3/lib/python3.9/site-packages (from requests>=2.19.0->pooch->pyvista) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/nathanschoedl/opt/miniconda3/lib/python3.9/site-packages (from requests>=2.19.0->pooch->pyvista) (1.26.9)
Requirement already satisfied: matplotlib>=2.0.0 in /Users/nathanschoedl/opt/miniconda3/lib/python3.9/site-packages (from vtk->pyvista) (3.5.3)
Requirement already satisfied: fonttools>=4.22.0 in /Users/nathanschoedl/opt/miniconda3/lib/python3.9/site-packages (from matplotlib>=2.0.0->vtk->pyvista) (4.37.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/nathanschoedl/opt/miniconda3/lib/python3.9/site-packages (from matplotlib>=2.0.0->vtk->pyvista) (1.4.4)
Requirement already satisfied: python-dateutil>=2.7 in /Users/nathanschoedl/opt/miniconda3/lib/python3.9/site-packages (from matplotlib>=2.0.0->vtk->pyvista) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /Users/nathanschoedl/opt/miniconda3/lib/python3.9/site-packages (from matplotlib>=2.0.0->vtk->pyvista) (0.11.0)
Requirement already satisfied: six>=1.5 in /Users/nathanschoedl/opt/miniconda3/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib>=2.0.0->vtk->pyvista) (1.16.0)
Installing collected packages: appdirs, vtk, scooby, pooch, pyvista
Successfully installed appdirs-1.4.4 pooch-1.6.0 pyvista-0.37.0 scooby-0.7.0 vtk-9.2.5

In [4]:
import numpy as np
import pyvista as pv
import pandas as pd

from matplotlib.colors import ListedColormap
import matplotlib.pyplot as plt

boring_cmap = plt.cm.get_cmap("coolwarm")

ModuleNotFoundError: No module named 'pyvista'

In [2]:
data = pd.read_csv("Output/sim1.csv")

In [3]:
data

               X          Y       Bed
0      -220370.0 -1650000.0  238.3100
1      -220370.0 -1650200.0  237.8400
2      -220370.0 -1650300.0  234.7000
3      -220370.0 -1650400.0  224.5500
4      -220370.0 -1650600.0  212.6900
...          ...        ...       ...
488101 -299736.5 -1653253.0  941.3989
488102 -299820.1 -1653281.0  942.9348
488103 -299852.3 -1653292.0  942.6983
488104 -299922.9 -1653316.0  942.2304
488105 -299961.5 -1653329.0  942.1658

[488106 rows x 3 columns]

In [4]:
plot = pv.PolyData(data.to_numpy())

In [5]:
plot

PolyData (0x23d1db3a880)
  N Cells:	488106
  N Points:	488106
  N Strips:	0
  X Bounds:	-3.000e+05, -1.500e+05
  Y Bounds:	-1.800e+06, -1.650e+06
  Z Bounds:	-7.178e+02, 1.000e+03
  N Arrays:	0

In [6]:
plot.plot(cmap=boring_cmap,show_edges=False)

ViewInteractiveWidget(height=768, layout=Layout(height='auto', width='100%'), width=1024)

In [7]:
simdata = pd.read_csv("sim_1.csv")
simdata

,X,Y,Sum,Count,Bed,simulated,cluster,Norm_Bed
0,-300000.0,-1800000.0,0.00,0.0,NaN,1.0,0.0,1.486189
1,-299000.0,-1800000.0,0.00,0.0,NaN,1.0,0.0,0.356395
2,-298000.0,-1800000.0,40895.47,128.0,319.49585,0.0,0.0,0.060628
3,-297000.0,-1800000.0,0.00,0.0,NaN,1.0,0.0,2.103903
4,-296000.0,-1800000.0,0.00,0.0,NaN,1.0,0.0,-0.010882
...,...,...,...,...,...,...,...,...
22495,-155000.0,-1651000.0,0.00,0.0,NaN,1.0,10.0,0.372548
22496,-154000.0,-1651000.0,0.00,0.0,NaN,1.0,10.0,0.059626
22497,-153000.0,-1651000.0,0.00,0.0,NaN,1.0,10.0,0.434393
22498,-152000.0,-1651000.0,0.00,0.0,NaN,1.0,10.0,0.836609
22499,-151000.0,-1651000.0,0.00,0.0,NaN,1.0,10.0,-0.217425

In [8]:
df2 = simdata[["X","Y","Norm_Bed"]]

In [9]:
df2

              X          Y  Norm_Bed
0     -300000.0 -1800000.0  1.486189
1     -299000.0 -1800000.0  0.356395
2     -298000.0 -1800000.0  0.060628
3     -297000.0 -1800000.0  2.103903
4     -296000.0 -1800000.0 -0.010882
...         ...        ...       ...
22495 -155000.0 -1651000.0  0.372548
22496 -154000.0 -1651000.0  0.059626
22497 -153000.0 -1651000.0  0.434393
22498 -152000.0 -1651000.0  0.836609
22499 -151000.0 -1651000.0 -0.217425

[22500 rows x 3 columns]

In [10]:
plot2 = pv.PolyData(df2.to_numpy())

In [11]:
surf2 = plot2.delaunay_2d()

In [12]:
plot2.point_data["Elevation"] = df2.Norm_Bed

In [13]:
plot2.plot(cmap = boring_cmap)

ViewInteractiveWidget(height=768, layout=Layout(height='auto', width='100%'), width=1024)

In [14]:
surf2 = plot2.delaunay_2d()

In [15]:
surf2.plot(cmap=boring_cmap)

ViewInteractiveWidget(height=768, layout=Layout(height='auto', width='100%'), width=1024)

In [16]:
#change factor to increase height warping for better visualization
surf2_warped = surf2.warp_by_scalar("Elevation",factor = 800)

In [17]:
surf2_warped.plot(cmap=boring_cmap)

ViewInteractiveWidget(height=768, layout=Layout(height='auto', width='100%'), width=1024)